<ion-header>
  <ion-toolbar>
    <ion-title>Pagina Inicial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <h1>Bem vindo ao MrCondo!</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Seus registro de  EmailID : {{userEmail}}
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>